<span style="font-size: 38px; color: Green; font-weight: bold;">"Where Should I Live"</span><br>
<span style="font-size: 28px; color: Orange; font-weight: bold;">Group Project 
Programming for Data Science 2025/26
</span>


<span style="font-size: 28px; color: Red; font-weight: bold;">LCD_PDS_2526_Group22</span>

<span style="font-size: 18px; color: Purple; font-weight: bold;">Student Id:20251000 Student Name: Atila Soleimanian </span><br>
<span style="font-size: 18px; color: Purple; font-weight: bold;">Student Id:20241027 Student Name: Ali Fardin Gulistani</span><br>
<span style="font-size: 18px; color: Purple; font-weight: bold;">Student Id:20241831 Student Name: Daniyal Ahmad </span><br>
<span style="font-size: 18px; color: Purple; font-weight: bold;">Student Id:20241418  Student Name: A K M Saif Hoque</span>

# STEP 1: IMPORTING DATASET & LIBRARIES

In [25]:
#!pip install pandas (In case if the pandas show eror uncomment by deleting hashtag and also deleting the texts in bracket and install pandas)
import pandas as pd
import numpy as np

In [26]:
df=pd.read_csv('city_data.csv',sep="|")

In [31]:
df.head(2)

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15 00:00:00
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00

### As we can see, the first row of the dataset doesn't apply any importance as the names of the features are described in the 2nd row. So we will remove the first row using ***header***

In [29]:
df=pd.read_csv('city_data.csv',sep="|",header=1)

In [30]:
df.head(2)

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Average Price Groceries,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,340.0,2024-06-15 00:00:00
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,NaN,2023-11-03 00:00:00

# STEP 2: STATISTICS OF THE DATASET

In [32]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             86 non-null     object
 1   Population Density               85 non-null     float64
 2   Population                       86 non-null     int64
 3   Working Age Population           85 non-null     float64
 4   Youth Dependency Ratio           86 non-null     float64
 5   Unemployment Rate                85 non-null     float64
 6   GDP per Capita                   85 non-null     float64
 7   Days of very strong heat stress  86 non-null     int64
 8   Main Spoken Languages            85 non-null     object
 9   Average Monthly Salary           86 non-null     int64
 10  Avgerage Rent Price              86 non-null     int64
 11  Average Cost of Living           86 non-null     int64
 12  Average Price Groceries          6 non-null      float64
 13  Last Data Update                 86 non-null     object
dtypes: float64(6), int64(5), object(3)
memory usage: 24.1 KB

In [33]:
print(f'the shape of the dataset is {df.shape}')

the shape of the dataset is (86, 14)

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Population Density,85.0,1.115141e+03,2.542779e+03,65.00,304.000,548.00,1020.000,20983.0
Population,86.0,1.754370e+06,1.843133e+06,73895.00,528118.500,1178397.00,2315896.000,12396541.0
Working Age Population,85.0,1.158294e+06,1.232534e+06,46359.00,358020.000,733794.00,1534225.000,8274794.0
Youth Dependency Ratio,86.0,2.409686e+01,3.266421e+00,19.30,21.425,23.15,25.925,37.8
Unemployment Rate,85.0,6.667059e+00,4.553632e+00,1.40,3.700,5.30,8.100,23.0
GDP per Capita,85.0,5.175027e+04,2.149562e+04,10089.92,38664.000,49329.00,63083.000,146094.0
Days of very strong heat stress,86.0,4.348837e+00,1.003848e+01,0.00,0.000,1.00,3.000,59.0
Average Monthly Salary,86.0,2.434488e+03,1.188603e+03,750.00,1412.500,2400.00,3200.000,6636.0
Avgerage Rent Price,86.0,1.070105e+03,4.989646e+02,100.00,800.000,1050.00,1250.000,3190.0
Average Cost of Living,86.0,1.808384e+03,7.279997e+02,800.00,1300.000,1665.00,2100.000,4862.0
Average Price Groceries,6.0,2.258333e+02,9.789059e+01,100.00,147.500,243.00,295.750,340.0

In [7]:
# i8min, i8max, i16min, i16max, i32min, i32max, i64min, i64max = np.iinfo(np.int8).min, np.iinfo(np.int8).max, np.iinfo(np.int16).min, np.iinfo(np.int16).max, np.iinfo(np.int32).min, np.iinfo(np.int32).max, np.iinfo(np.int64).min, np.iinfo(np.int64).max
# print(f'int8:[{i8min}, {i8max}]')
# print(f'int16:[{i16min}, {i16max}]')
# print(f'int32:[{i32min}, {i32max}]')
# print(f'int64:[{i64min}, {i64max}]\n')


# f16min, f16max, f32min, f32max, f64min, f64max = np.finfo(np.float16).min, np.finfo(np.float16).max, np.finfo(np.float32).min, np.finfo(np.float32).max, np.finfo(np.float64).min, np.finfo(np.float64).max
# #float8 doesn't exist
# print(f'float16:[{f16min}, {f16max}]')
# print(f'float32:[{f32min}, {f32max}]')
# print(f'float64:[{f64min}, {f64max}]')

### The user doesn't remember this code by heart. It is used as a reference 
### Reference: P08 Large Dataset Solution Class.

int8:[-128, 127]
int16:[-32768, 32767]
int32:[-2147483648, 2147483647]
int64:[-9223372036854775808, 9223372036854775807]

float16:[-65504.0, 65504.0]
float32:[-3.4028234663852886e+38, 3.4028234663852886e+38]
float64:[-1.7976931348623157e+308, 1.7976931348623157e+308]

In [16]:
df = df.astype({'Population Density' : 'float16', 
                'Population': 'float32',
                'Youth Dependency Ratio': 'float16',
                'Unemployment Rate': 'float16',
                'GDP per Capita': 'float32',
                'Days of very strong heat stress':'float16',
                'Average Monthly Salary':'float16',
                 'Avgerage Rent Price':'float16',
                'Average Price Groceries':'float16',
                'Average Cost of Living':'float16'
                })

In [17]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   City                             86 non-null     object
 1   Population Density               85 non-null     float16
 2   Population                       86 non-null     float32
 3   Working Age Population           85 non-null     float64
 4   Youth Dependency Ratio           86 non-null     float16
 5   Unemployment Rate                85 non-null     float16
 6   GDP per Capita                   85 non-null     float32
 7   Days of very strong heat stress  86 non-null     float16
 8   Main Spoken Languages            85 non-null     object
 9   Average Monthly Salary           86 non-null     float16
 10  Avgerage Rent Price              86 non-null     float16
 11  Average Cost of Living           86 non-null     float16
 12  Average Price Groceries          6 non-null      float16
 13  Last Data Update                 86 non-null     object
dtypes: float16(8), float32(2), float64(1), object(3)
memory usage: 19.4 KB

In [15]:
df['City']

0        Vienna, Austria
1      Salzburg, Austria
2      Brussels, Belgium
3       Antwerp, Belgium
4          Gent, Belgium
             ...
81     Stockholm, Sweden
82    Gothenburg, Sweden
83         Malmo, Sweden
84       Ankara, Turkiye
85        Adana, Turkiye
Name: City, Length: 86, dtype: object

In [34]:
missing_data = df.isnull().sum().reset_index()
missing_data.columns = ['Column', 'MissingCount']
missing_data['MissingPercent'] = (missing_data['MissingCount'] / len(df)) * 100
missing_data.sort_values(by='MissingPercent',ascending=False)

                             Column  MissingCount  MissingPercent
12          Average Price Groceries            80       93.023256
1                Population Density             1        1.162791
3           Working Age Population              1        1.162791
5                 Unemployment Rate             1        1.162791
6                    GDP per Capita             1        1.162791
8             Main Spoken Languages             1        1.162791
0                              City             0        0.000000
2                        Population             0        0.000000
4            Youth Dependency Ratio             0        0.000000
7   Days of very strong heat stress             0        0.000000
9            Average Monthly Salary             0        0.000000
10              Avgerage Rent Price             0        0.000000
11           Average Cost of Living             0        0.000000
13                 Last Data Update             0        0.000000

## Missing Value analysis 
- As we can see, out of 86 entries in the dataset, there are 80 missing values in the **Average Price Groceries** column.
-  So we have decided to drop this column .

In [45]:
df=df.drop(['Average Price Groceries'],axis=1)
df.head()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00
4,"Gent, Belgium",552.0,645813,417832.0,24.8,NaN,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00

In [46]:
df.isnull().sum(axis=1)

0     0
1     0
2     0
3     0
4     1
     ..
81    0
82    0
83    0
84    0
85    0
Length: 86, dtype: int64

In [47]:
import pandas as pd

numeric_cols = ['Population Density', 'Working Age Population ', 'Unemployment Rate', 'GDP per Capita']

df[numeric_cols] = df[numeric_cols].interpolate(method='linear')

df['Main Spoken Languages'] = df['Main Spoken Languages'].fillna("Unknown")

print(df.isnull().sum())

df.head()

City                               0
Population Density                 0
Population                         0
Working Age Population             0
Youth Dependency Ratio             0
Unemployment Rate                  0
GDP per Capita                     0
Days of very strong heat stress    0
Main Spoken Languages              0
Average Monthly Salary             0
Avgerage Rent Price                0
Average Cost of Living             0
Last Data Update                   0
dtype: int64

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00
4,"Gent, Belgium",552.0,645813,417832.0,24.8,5.9,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00

In [48]:
df.duplicated().sum()

np.int64(2)

In [49]:
df = df.drop_duplicates()

In [50]:
df.head(5)

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00
4,"Gent, Belgium",552.0,645813,417832.0,24.8,5.9,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00

In [51]:
df = df.copy()  
df['City'] = df['City'].astype(str).str.strip()  
split_df = df['City'].str.replace(";", ",", regex=False).str.split(",", expand=True)
print(split_df.head())

          0         1
0    Vienna   Austria
1  Salzburg   Austria
2  Brussels   Belgium
3   Antwerp   Belgium
4      Gent   Belgium

In [52]:
split_df.columns = ['CityName', 'Country']
df = pd.concat([df, split_df], axis=1)

In [53]:
df.head()

,City,Population Density,Population,Working Age Population,Youth Dependency Ratio,Unemployment Rate,GDP per Capita,Days of very strong heat stress,Main Spoken Languages,Average Monthly Salary,Avgerage Rent Price,Average Cost of Living,Last Data Update,CityName,Country
0,"Vienna, Austria",310.0,2983513,2018818.0,20.1,10.2,55770.0,3,"German, English, Turkish, Serbian",2500,1050,2061,2024-06-15 00:00:00,Vienna,Austria
1,"Salzburg, Austria",243.0,375489,250472.0,20.3,3.0,66689.0,0,German,3200,1100,2186,2023-11-03 00:00:00,Salzburg,Austria
2,"Brussels, Belgium",681.0,3284548,2137425.0,27.5,10.7,62500.0,3,"French, Dutch, Arabic, English",3350,1200,1900,2023-04-22 00:00:00,Brussels,Belgium
3,"Antwerp, Belgium",928.0,1139663,723396.0,27.7,6.2,57595.0,3,"Dutch, French, Arabic",2609,900,1953,2024-08-09 00:00:00,Antwerp,Belgium
4,"Gent, Belgium",552.0,645813,417832.0,24.8,5.9,53311.0,2,"Dutch, French",2400,827,1200,2023-07-17 00:00:00,Gent,Belgium

In [54]:
country_counts = df['Country'].value_counts()

In [55]:
print(country_counts.head(1))

Country
Germany    9
Name: count, dtype: int64

In [56]:
most_frequent_country = country_counts.index[0]  
most_frequent_count = country_counts.iloc[0]

In [57]:
most_frequent_country

' Germany'

In [58]:
most_frequent_count

np.int64(9)